# Node modules
node_modules/

# Variables de entorno
.env

# Archivos puntuales
subtitles.txt
tts_output.mp3
command.wav

# Tokens (todos los json dentro de data/tokens)
data/tokens/*.json
data/activeUsers.json
